/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
:root {
  --accent-color: #406280;
  --button-color: #171e25;
  --button-border-color: #12181b;
  --primary-text-color: #eaeaea;
}
body {
  background: #404850;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin: 0; /* unset browser styles */
  padding-bottom: 20pt;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

h3 {
  color: white;
  font-weight: 500;
}

.wrapper {
  max-width: 1200px;
  margin: 0pt auto;
  position: relative;
  padding-top: 2pt;
  margin-bottom: 50pt;
}

.content {
  width: 100%;
  background-color: white;
  border-radius: 4pt;
  padding: 2pt 10pt;
}

.content > * {
  width: 100%;
}
.content h3 {
  color: black;
}

.invisible {
  display: none !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  text-align: left;
  width: fit-content;
  padding: 6pt 12pt;
  font-size: 0.75em;
  border: none;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--button-color);
  border-color: var(--button-border-color);
  box-shadow: 0 3px 3px #12181b;
}
.button:hover {
  background-color: var(--accent-color);
}
.button img {
  width: 20pt;
  margin-right: 4pt;
}
.button span {
  font-size: 1rem;
}
#features {
  display: flex;
  column-gap: 24pt;
}
a .img-subtitle {
  margin-top: 0pt;
  font-size: 10pt;
  color: #404850;
}
#features a {
  text-decoration: none;
}
.screenshot {
  max-height: 200pt;
}
#close-button-container {
  display: flex;
  justify-content: end;
}
#close-button {
  margin-top: 10pt;
}
.center {
  text-align: center;
}
img.center,
button.center {
  display: block;
  margin: 0 auto;
}

img#lightbeam-logo {
  margin-bottom: -18px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 94%;
  }
  #features {
    flex-direction: column;
  }
  #close-button {
    position: unset;
    margin-left: auto;
    margin-top: 10pt;
  }
}
