/* ----------- VISUALIZATION ----------- */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* ----------- UI - General ----------- */

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

[hidden] {
  display: none !important;
}

.invisible {
  display: none !important;
}

:root {
  --primary-color: #000;
  --secondary-color: #404850;
  --secondary-color-dark: #383e44;
  --tertiary-color: #eaeaea;
  --accent-color: #406280;
  --accent-color-light: #d8eafb;
  --button-color: #171e25;
  --button-border-color: #12181b;
  --primary-text-color: #eaeaea;
  --secondary-text-color: #73a4b8;
  --dialog-header-color: #406280;
  --dialog-button-color: #406280;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
dt,
dd {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 1.75em;
}

h2,
label {
  font-size: 0.75em;
  font-weight: 700;
}

input[type='radio'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* Not removed via appearance */
  margin: 0;
  background-color: #fff;
  height: 16pt;
  width: 16pt;
  color: var(--accent-color);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type='radio']::before {
  content: '';
  width: 0.85em;
  height: 0.85em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent-color);
}

input[type='radio']:checked::before {
  transform: scale(1);
}

/* Styling input range: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
/* Disable default CSS for input range */
input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Add custom CSS for input range */
input[type='range']::-moz-range-thumb {
  border: 2px solid white;
  height: 16pt;
  width: 16pt;
  border-radius: 100%;
  background: var(--accent-color);
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 4pt;
  cursor: pointer;
  background: #a3a3a3;
  border-radius: 2pt;
}

input[type='range']::-moz-range-progress {
  height: 4pt;
  background: white;
  border-radius: 2pt;
  cursor: pointer;
}

input[type='range']:disabled::-moz-range-thumb {
  background: #5e5e5e;
  cursor: not-allowed;
}

input[type='range']:disabled::-moz-range-track {
  cursor: not-allowed;
}

input[type='range']:disabled::-moz-range-progress {
  background-color: rgb(214, 214, 214);
  cursor: not-allowed;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog p {
  color: white;
}

.modal-dialog-container {
  display: flex;
  flex-direction: column;
}

.modal-dialog .animation-title {
  color: white;
  background-color: black;
  padding: 4pt;
}

.modal-dialog-content {
  width: 200pt;
  background-color: var(--secondary-color);
  border-radius: 2pt;
}

.modal-dialog-content.medium {
  width: 400pt;
}

.modal-dialog-content.large {
  width: 80vw;
  max-height: 80vh;
}

.modal-dialog-header {
  min-height: 36pt;
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 2pt;
  border-top-right-radius: 2pt;
}

.modal-dialog-header h3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10pt;
}

.modal-dialog-close-button {
  height: 36pt;
  width: 36pt;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-dialog-close-button img {
  transition: all 0.05s ease-in-out;
  width: 64%;
  height: 64%;
}

.modal-dialog-close-button:hover img {
  width: 50%;
  height: 50%;
}

.modal-dialog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20pt;
  overflow-y: scroll;
}

.modal-dialog-content .button {
  font-size: 0.9rem;
}

.modal-dialog-choice-buttons {
  display: flex;
  justify-content: end;
  column-gap: 10pt;
  background-color: var(--secondary-color-dark);
  padding: 12pt 16pt;
}

.modal-dialog-choice-buttons .button {
  margin-bottom: 0;
}

.modal-dialog-content.medium ~ .modal-dialog-choice-buttons .button,
.modal-dialog-content.large ~ .modal-dialog-choice-buttons .button {
  width: 70pt;
}

.loading-animation {
  height: 200pt;
  border: 1pt white solid;
}

.checkbox {
  display: flex;
  cursor: pointer;
  padding-left: 2pt;
  margin-bottom: 10pt;
}

.checkbox-box {
  display: flex;
  height: 18pt;
  min-height: 18pt;
  width: 18pt;
  min-width: 18pt;
  border-radius: 4pt;
  border: white solid 2pt;
  margin-right: 6pt;
}

.checkbox img {
  display: none;
}

.checkbox.active img {
  display: unset;
}

.checkbox-label {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  user-select: none;
}

.info-headings {
  display: flex;
  padding-left: 10pt;
  column-gap: 10pt;
}

.info-headings .info {
  display: flex;
  flex-direction: column;
}

.info-headings .info-title {
  display: flex;
  column-gap: 4pt;
  align-items: center;
  color: white;
  margin: 6pt 0;
  background-color: black;
  border-radius: 3pt;
  padding: 2pt;
}

.info-headings .info-description {
  color: white;
  background-color: var(--accent-color);
  border-radius: 3pt;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4pt;
  width: fit-content;
  min-width: 40pt;
  min-height: 30pt;
  display: flex;
  justify-content: center;
  align-self: center;
}

h3,
.info-description {
  font-size: 1.2em;
  color: var(--secondary-text-color);
}

var {
  font-style: normal;
}

.light-red-border {
  border: solid 2pt red !important;
}

.header-icon {
  height: 22pt;
  width: 22pt;
  margin: auto 3pt auto 0pt;
  opacity: 0.2;
}

.header-container {
  margin: 14pt 0pt 8pt 0pt;
  align-items: end;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.left-rounded {
  border-top-left-radius: 4pt;
  border-bottom-left-radius: 4pt;
}

.right-rounded {
  border-top-right-radius: 4pt;
  border-bottom-right-radius: 4pt;
}

.toggle-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 10pt;
  width: fit-content;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  border: solid 1pt white;
  min-width: 60pt;
  padding: 4pt;
  cursor: default;
}

.toggle-button.active {
  background-color: var(--accent-color);
}

.toggle-button:not(.active) {
  cursor: pointer;
}

.toggle-button span,
.toggle-button:not(.active):hover span {
  color: white;
  font-size: 10pt;
  transition: font-size 0.05s linear;
}

.toggle-button:not(.active) span {
  font-size: 0pt;
}

.toggle-button img {
  height: 20pt;
  width: 20pt;
}

button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  font-size: 0.75em;
  border: none;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--button-color);
  border-color: var(--button-border-color);
  box-shadow: 0 3px 3px #12181b;
}

button:hover {
  background-color: var(--accent-color);
}

button::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  background-size: contain;
  margin-right: 10px;
}

.modal-dialog #fuse-maps {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20pt;
  min-height: 140pt;
}

.fusemap-container > * {
  margin-bottom: 6pt;
}

.modal-dialog input[type='text'] {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 8pt;
  font-size: 1.2rem;
}

.modal-dialog input,
.modal-dialog textarea {
  max-width: 160pt;
}

.modal-dialog textarea {
  resize: none;
  border-color: black;
  border-style: solid;
  border-width: 1pt;
  margin-bottom: 6pt;
}

.modal-dialog .fusemap-container {
  margin-bottom: 10pt;
  margin-right: 20pt;
  width: 160pt;
  background-color: #ffffff14;
  padding: 2pt 10pt;
  border-radius: 2pt;
}

.fusemap-container label {
  margin-bottom: 0pt;
}

.fusemap-container .icon-container {
  display: flex;
  justify-content: center;
}

.fusemap-container .icon-container label {
  width: 56pt;
  height: 56pt;
  border-radius: 2pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fusemap-container .icon-container .fuse-group-icon-placeholder {
  border: black dashed 2pt;
}

.fusemap-container .icon-container img {
  width: 90%;
  height: 90%;
  transition-property: width height;
  transition-duration: 0.1s;
}

.fusemap-container .icon-container img:hover {
  width: 100%;
  height: 100%;
}

.fusemap-container .icon-container label:hover {
  background-color: var(--accent-color-light);
  cursor: pointer;
}

.modal-dialog .error-message {
  max-width: 160pt;
  text-transform: none;
  margin-bottom: 4pt;
  padding: 2pt;
  border-radius: 4pt;
  margin-top: auto;
  color: white;
}

.modal-dialog .add-button {
  min-width: 160pt;
  min-height: 230pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2pt black dashed;
  border-radius: 2pt;
  background-color: white;
  margin-bottom: 14pt;
}

.modal-dialog .add-button.positive:hover {
  background-color: var(--accent-color-light);
  cursor: pointer;
}

.modal-dialog .add-button.positive img {
  height: 22pt;
  width: 22pt;
  transition: all 0.1s linear;
}

.modal-dialog .add-button.positive:hover img {
  height: 30pt;
  width: 30pt;
}

.modal-dialog::backdrop,
.modal-dialog + .backdrop {
  background: rgba(0, 0, 0, 0.25);
}

.modal-dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-dialog .dialog-sub-title {
  font-size: 0.8em;
  color: rgb(209, 209, 209);
}

a {
  color: var(--secondary-text-color);
  font-size: 0.75em;
}

.filter-menu button:first-child {
  margin-top: 10px;
  border-radius: 3px 3px 0 0;
}

.filter-menu button:last-child {
  border-radius: 0 0 3px 3px;
}

.filter-menu button {
  margin-top: 0;
  border-radius: 0;
  border-top: 2px solid var(--button-border-color);
}

.filter-menu button:hover {
  background-color: var(--accent-color);
}

.filter-menu .active {
  border-color: var(--button-active-border-color);
}

.filter-menu .active:hover {
  border-color: #fff;
}

/* ----------- UI - Side Bar ----------- */

aside {
  background-color: var(--secondary-color);
  padding: 15px;
  padding-left: 10pt;
  z-index: 2;
  overflow-y: scroll;
  height: 100%;
}

aside h1 {
  color: var(--tertiary-color);
}

aside h2,
#filter h2 {
  color: rgba(255, 255, 255, 0.2);
  font-size: 16pt;
  line-height: 18pt;
}

aside h3 {
  font-size: 12pt;
  text-transform: none;
  margin-bottom: 4pt;
  color: white;
}

aside h2,
#filter h2,
aside label {
  text-transform: uppercase;
}

nav {
  min-width: fit-content;
}

.logo {
  max-width: 100%;
  margin-bottom: 10pt;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  font-size: 0.75em;
  border: none;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--button-color);
  border-color: var(--button-border-color);
  box-shadow: 0 3px 3px #12181b;
}
.button:hover,
.button.active {
  background-color: var(--accent-color);
}
.button img {
  margin-right: 6pt;
  max-height: 16pt;
}
.button .external-website {
  max-height: 13pt;
  margin-left: 4pt;
}

.nav-links {
  margin-top: 20px;
}

.nav-links .icon {
  margin-right: 0;
}

.graph::before {
  background-image: url('../images/lightbeam_icon_graph.png');
}

.list:before {
  background-image: url('../images/lightbeam_icon_list.png');
}

#tp-label {
  text-transform: initial;
  font-size: 11pt;
  margin-bottom: 4pt;
  color: white;
}

.nav-links img {
  height: 30pt;
  margin-right: 3pt;
}

.link {
  display: flex;
}
.link a {
  display: unset;
}

/* ----------- UI - Top Bar ----------- */

main {
  background-color: var(--primary-color);
  height: 100%;
  flex-grow: 2;
}

.top-bar {
  display: flex;
}

.top-bar > dl {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6pt;
}

.top-bar > dl > div {
  margin-right: 15px;
}

#toggle-sidebar-button {
  display: none;
}

#tracking-protection-disabled > div {
  display: inline-block;
  width: 140px;
  margin-inline-start: 10px;
}

#tracking-protection-disabled > div > a {
  font-size: 1rem;
  text-decoration: none;
}

/* ----------- UI - Graph ----------- */

#vis {
  position: relative;
  min-height: 100%;
}

.vis-header {
  padding-left: 20px;
  padding-top: 10px;
  background-color: var(--primary-color);
}

.vis-header > h1 {
  color: var(--primary-text-color);
}

.vis-header > h2 {
  color: var(--secondary-text-color);
}

.vis-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#tooltip {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #fff;
  color: #010203;
  padding: 5px 10px;
  box-shadow: 0px 2px #4cc7e6;
  border-radius: 5px;
}

#tooltip::after {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
}

#tooltip h5 {
  margin: 0;
}

#tooltip #tooltip-content {
  font-size: 0.8em;
}

.info-panel {
  border-radius: 3px 0 0 3px;
  margin-top: 5px;
}

.info-panel::before {
  margin-right: 0;
}

.info-panel:first-child {
  background-color: transparent;
  box-shadow: none;
  margin-top: 0;
}

.website::before {
  background-image: url('../images/lightbeam_icon_website.png');
  opacity: 0.5;
}

/* ----------- Filter ----------- */
#filter {
  max-width: 0pt;
  width: 0pt;
  transition: all 0.2s linear;
  background-color: var(--secondary-color);
  position: absolute;
  z-index: 20;
  overflow-y: scroll;
  right: 0;
  height: 100vh;
}

#filter.active {
  width: 220pt;
  max-width: 220pt;
  box-shadow: 0pt 0pt 4pt 6pt rgba(0, 0, 0, 0.2);
}

#filter-content {
  display: flex;
  flex-direction: column;
  row-gap: 22pt;
  padding: 12pt 10pt;
}

#filter .filter-selection {
  padding-left: 26pt;
}

#filter .checkbox {
  margin-bottom: 10pt;
}

#filter .radio-group {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  column-gap: 0.7em;
  row-gap: 1em;
}

#filter .radio-group label {
  padding-left: 4pt;
  font-weight: 400;
  cursor: pointer;
}

#filter .radio-group input[type='radio'] {
  margin-right: 4pt;
}

#filter .slider-container label {
  display: flex;
  justify-content: center;
  min-width: 43pt;
  font-size: 1rem;
  font-weight: bold;
  border: 1pt #8c8c8c solid;
  padding: 0pt 8pt;
}

#filter .slider-container {
  display: flex;
  column-gap: 10pt;
}

#filter label,
#filter span,
#filter div {
  color: white;
  font-size: 0.9rem;
}

#filter .number-input {
  display: flex;
  column-gap: 4pt;
}

#filter .number-input .button {
  width: fit-content;
  height: 24pt;
  padding: 6px;
}

#filter .number-input input {
  width: 50pt;
  height: 25pt;
  font-size: 1rem;
  color: white;
  margin: 0 4pt;
  border: none;
  border-bottom: 1pt solid white;
  background-color: unset;
  text-align: center;
  outline: none;
}

#filter .number-input input:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

#filter-toggle {
  height: 60pt;
  width: 30pt;
  position: absolute;
  right: 0;
  top: calc(50% - 30pt);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border-top-left-radius: 4pt;
  border-bottom-left-radius: 4pt;
  cursor: pointer;
  transition: all 0.2s linear;
  z-index: 21;
}

#filter.active ~ #filter-toggle {
  right: 220pt;
}

#filter-toggle img {
  height: 20pt;
}

/* ----------- UI - vis Controls ----------- */
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr) minmax(150px, auto);
  padding: 0 30px;
}

.footer-heading {
  display: flex;
  border-bottom: 1px solid var(--primary-text-color);
  justify-content: space-between;
}

.footer-heading h2 {
  padding-bottom: 5px;
  color: var(--primary-text-color);
}

.footer-heading .hide {
  text-transform: none;
  font-weight: 400;
}

.footer-toggle {
  grid-column: 1 / 5;
}

.footer-filter {
  grid-column-start: 5;
}

.footer-toggle-buttons {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, minmax(auto, 150px));
  grid-template-rows: repeat(3, 1fr);
}

.footer-toggle-buttons .connections {
  grid-column-start: 1;
}

.visited-sites::before {
  background-image: url('data:image/svg+xml,<svg style="fill: rgb(234, 234, 234)" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="6"></circle></svg>');
}

.third-party-sites::before {
  background-image: url('data:image/svg+xml,<svg style="fill: rgb(234, 234, 234)" version="1.1" xmlns="http://www.w3.org/2000/svg"><polygon points="0,14 7,2 14,14"></polygon></svg>');
}

.connections::before {
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg"><line x1="14" y1="2" x2="2" y2="14" style="stroke: rgb(234, 234, 234); stroke-width: 2"></line></svg>');
}

.two-icons::before {
  width: 30px;
}

.watched-sites::before {
  background-image: url('data:image/svg+xml,<svg style="fill: rgb(111, 195, 229)" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="6"></circle></svg>'),
    url('data:image/svg+xml,<svg style="margin-left: 15px; fill: rgb(111, 195, 229)" version="1.1" xmlns="http://www.w3.org/2000/svg"><polygon points="0,14 7,2 14,14"></polygon></svg>');
}

.blocked-sites::before {
  background-image: url('data:image/svg+xml,<svg style="fill: rgb(224, 42, 97)" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="6"></circle></svg>'),
    url('data:image/svg+xml,<svg style="margin-left: 15px; fill: rgb(224, 42, 97)" version="1.1" xmlns="http://www.w3.org/2000/svg"><polygon points="0,14 7,2 14,14"></polygon></svg>');
}

.cookies::before {
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg"><line x1="14" y1="2" x2="2" y2="14" style="stroke: rgb(108, 10, 170); stroke-width: 2"></line></svg>');
}

.filter-menu {
  max-width: 150px;
}

.max-graph {
  position: relative;
  z-index: 10;
}

@media (max-width: 600px) {
  aside {
    width: 0;
    padding: 0;
    z-index: 11;
    transition: all 0.2s linear;
    min-width: 0;
  }
  aside.open {
    min-width: calc(100% - 50pt);
    padding: 10pt;
    padding-bottom: 60pt;
  }
  .button {
    height: 36pt;
    font-size: 1rem;
  }
  .toggle-button {
    min-height: 46pt;
    min-width: 70pt;
  }
  .toggle-button span,
  .toggle-button:not(.active) span {
    font-size: 1rem;
  }
  #toggle-sidebar-button {
    display: none;
    background-color: var(--secondary-color);
    min-height: 50pt;
    height: 50pt;
    min-width: 46pt;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    border-bottom-right-radius: 4pt;
  }
  #toggle-sidebar-button img {
    height: 26pt;
    width: 26pt;
  }
  .top-bar {
    justify-content: space-between;
  }
  .info-headings {
    position: absolute;
    right: 10pt;
    top: 0;
    flex-direction: column;
    align-items: end;
    row-gap: 4pt;
  }
  .info-headings .info {
    flex-direction: row-reverse;
  }
  .info-headings .info-title span {
    display: none;
  }
  .info-headings .info-description {
    background-color: unset;
    border: none;
  }
  main {
    display: block;
    flex-grow: 1;
  }

  #vis {
    height: 600px;
  }

  footer {
    grid-template-columns: 1fr;
  }

  .footer-toggle {
    grid-column: 1;
  }

  .footer-filter {
    grid-column-start: 1;
  }

  .modal-dialog .button {
    justify-content: center;
  }

  .modal-dialog-container {
    justify-content: center;
  }

  .modal-dialog-content {
    padding: 10pt 6pt;
  }

  .modal-dialog #fuse-maps {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 10pt;
    margin-bottom: 20pt;
    min-height: 140pt;
  }

  .modal-dialog .fusemap-container {
    width: 100%;
    margin: 0;
  }

  .modal-dialog-container {
    width: 92%;
    height: 92%;
    max-height: 80vh;
  }
  .modal-dialog-content.medium,
  .modal-dialog-content.large {
    width: unset;
  }
}

.unimplemented {
  visibility: hidden;
}

.unimplemented.list,
footer.unimplemented {
  display: none;
}
